/* * {
  outline: 1px solid red;
  좌우 스크롤 생겼을때 부분 확인 할 수 있는 코드
} */

/* topBanner */
#topBanner{position: relative; height: 100vh; background-size: cover; background-position: right; background-repeat: no-repeat; overflow: hidden;}
#topBanner ul{position: absolute; top: 15vh; left: 500px; height: 100%; width: 5000px; display: flex; justify-content: space-between;}

#topBanner::after{content: ''; position: absolute; width: 100%; height: 10vh; background-color: #fefefe; z-index: 1; bottom: 0;}

#topBanner>.empty_box{height: 100vh; width: 100%; -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); position: absolute;}

#topBanner ul li{position: relative; display: flex; width: 1200px; height: 100%; z-index: 2;}
#topBanner ul li img{width: 100%; object-fit: cover;}
#topBanner ul li .topBanner_in_text{width: 800px; height: 500px; position: absolute; bottom: 7%; left: -420px; z-index: 1;}
#topBanner ul li .topBanner_in_text p{font-size: 2.2em; color: #fefefe; text-shadow: 2px 2px 2px #212121;}
/*  */
#topBanner ul li:first-child .topBanner_in_text p{display: block;}
#topBanner ul li .topBanner_in_text p{display: none;}
/*  */
#topBanner .top_benner_controls{position: absolute; bottom: 15%; left: 80px; display: flex; width: 300px; line-height: 40px; justify-content: space-between; z-index: 2;}
#topBanner .top_benner_controls p{font-size: 30px;}
#topBanner .top_benner_controls button{width: 40px; height: 40px;}

/* aboutUs */
#aboutUs{position: relative; height: 100vh; display: flex;}
#aboutUs div{position: relative; display: flex; flex-direction: column; justify-content: space-between;margin: auto;}
#aboutUs .about_us_text{width: 60%;}
#aboutUs .about_us_btn{width: 20%; bottom: -14%;}
#aboutUs .about_us_text h2{font-size: 36px;}
#aboutUs .about_us_text h2:nth-child(2){margin: 20px 0;}
#aboutUs div p{font-size: 20px;}
#aboutUs .about_us_btn a{width: 250px; height: 45px; line-height: 45px; display: flex; justify-content: space-around; border-radius: 25px; background-color: #fefefe; border: 1px solid #212121;}
#aboutUs div a img{width: 40px;}

/* midBanner */
#midBanner{position: relative; height: 100vh; background-size: cover; background-position: right; background-repeat: no-repeat; overflow: hidden;}
#midBanner ul{position: relative; width: 100%; display: flex; flex-direction: column; justify-content: space-evenly; top: 50%;}
#midBanner ul li{position: absolute; width: 50%; right: 25%;}
/*  */
#midBanner ul li{display: none;}
#midBanner ul li:first-child{display: block;}
/*  */
#midBanner ul li .logo_text{width: 60%; margin: 0 auto; display: flex; justify-content: space-evenly; flex-direction: column;}
#midBanner ul li .logo_text img{width: 55%; margin: 0 auto;}
#midBanner ul li .logo_text p{margin: 0 auto; text-align: center; margin-top: 50px; text-shadow: 1px 1px 1px #212121; color: #fefefe; font-size: 1.2em;}

/* event */
#event{position: relative; height: 100vh; overflow: hidden;}

#event .event_name{position: absolute; width: 100%; top: 5%; display: flex; justify-content: center; padding-top: 50px; z-index: 1;}
#event .event_name .mid_line{content: ''; display: block; width: 300px; height: 1px; position: relative; background-color: #212121; margin: auto 20px;}

#event .event_img{position: relative; height: 100vh; background-repeat: no-repeat; background-position: right; background-size: cover;}
/* 효과 */
#event .event_img{height: 60vh; max-width: 75%; margin: 20vh auto; border-radius: 500px;}
/* #event .event_img{position: relative; width: 100%; height: 100%;}
#event .event_img>img{width: 80%; margin: 0 auto; border-radius: 500px;} */

#event .event_img .event_logo{position: absolute; display: flex; flex-direction: column; justify-content: center; max-width: 30%; top: 15%; left: 15%;}
#event .event_img .event_logo img{height: 70%;}
#event .event_img .event_logo a{margin-top: 15px; display: flex; justify-content: space-evenly; width: 85%; height: 50px; line-height: 50px; font-weight: 700; border-radius: 25px; font-size: 0.8em; background-color: #efefef;}
#event .event_img .event_logo a img{width: 35px;}
#event .event_img .event_logo a:hover{color: #fefefe; border-color: #23A03A; background-color: #23A03A; transition-duration: 0.5s;}

/* newsroom */
#newsroom{position: relative; height: 100vh;}
#newsroom .newsroom_wrap{position: relative; display: flex; height: 100%;}
#newsroom .newsroom_wrap div{position: relative; width: 50%;}
#newsroom .newsroom_title_wrap{position: absolute; top: 20%; left: 20%; width: 60%; height: 80%; display: flex; flex-direction: column; justify-content: space-around;}
#newsroom .newsroom_title_wrap .newsroom_title{text-align: center;}
#newsroom .newsroom_title_wrap .newsroom_title h2{font-size: 3.5em;}
#newsroom .newsroom_title_wrap .newsroom_title p{font-size: 3.5em;}
#newsroom .newsroom_title_wrap .newsroom_btn{display: flex; justify-content: space-evenly;}
#newsroom .newsroom_title_wrap a{width: 25%;}
#newsroom .newsroom_title_wrap a div{width: 100%; margin: 0 auto; height: 50px; display: flex; justify-content: space-around; line-height: 50px; border: 1px solid #212121; box-sizing: border-box; border-radius: 25px; padding: 0 20px;}
#newsroom .newsroom_title_wrap a p{font-size: 1.2em; font-weight: 500;}
#newsroom .newsroom_title_wrap a img{opacity: 0; display: none;}
/* #newsroom .newsroom_title_wrap a:hover div{transition-duration: 1s; width: 110%;} */
#newsroom .newsroom_title_wrap a:hover img{opacity: 1; transition-duration: 0.5s; display: block;}

/* 피씨 */
@media screen and (min-width:1201px){
}

/* 타블랫 */
@media screen and (min-width:801px) and (max-width:1200px){
    
}

/* 스마트폰 */
@media screen and (max-width:800px){
}