@charset "utf-8"; /*글자 인코딩 방식*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

@font-face{
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{margin: 0; padding: 0;}
li{list-style: none;}
img{display: block; border: none;}
a{text-decoration: none; color: #212121;}

button{cursor: pointer;}