/* CJABOUTUS */
/* CJaboutUsList */
#CJaboutUsList{position: relative; height: 500vh; min-height: 3000px;}
#CJaboutUsList>ul{position: relative; display: flex; flex-direction: column;}
#CJaboutUsList>ul>li{position: relative; height: 100vh; min-height: 600px; display: flex; justify-content: center;}
#CJaboutUsList>ul>li>div{position: relative; display: flex; flex-direction: column; justify-content: center; text-align: center;}
#CJaboutUsList>ul>li>div h2{font-size: 2.8em; margin-bottom: 30px;}
#CJaboutUsList>ul>li>div p{font-size: 1.2em;}
#CJaboutUsList>ul>li>.inner_list{width: 50%; position: relative;}
#CJaboutUsList>ul>li>.inner_list>li{height: 100%; display: flex; flex-direction: column; justify-content:end;}
#CJaboutUsList>ul>li>.inner_list>li div{width: 80%; margin: 20% auto;}
#CJaboutUsList>ul>li>.inner_list>li div h2{margin-bottom: 20px;}
#CJaboutUsList>ul>li>.inner_list>li img{width: 100%; height: 100%; object-fit: cover;}
/* mvc */
#mvc{position: relative; height: 300vh; min-height: 2400px;}
#mvc>ul{text-align: center;}
#mvc>ul>li{height: 100vh; min-height: 800px;}
#mvc>ul>li>div{display: flex; flex-direction: column; justify-content: end; height: 50%;}
#mvc>ul>li>div img{width: 60px; height: 60px; margin: 0 auto;}
#mvc>ul>li>div h2{margin-top: 5%; font-size: 1.5em;}
#mvc>ul>li>div p{margin-top: 5%; font-size: 2em;}
#mvc>ul>li:nth-child(3)>div{justify-content: start;}
#mvc>ul>li:nth-child(3)>div img{width: 60px; height: 60px; margin: 0 auto; margin-top: 40px;}
#mvc>ul>li:nth-child(3)>div h2{margin-top: 0; font-size: 1.5em;}
#mvc>ul>li:nth-child(3)>div p{margin-top: 0; font-size: 2em;}
#mvc>ul>li>div .core_values{position: relative; display: flex; justify-content: space-between; width: 70%; margin: 0 auto; min-height: 300px;}
#mvc>ul>li>div .core_values>li{width: 32%; height: 40vh; min-height: 250px; background-position: center; background-repeat: cover; display: flex; flex-direction: column; justify-content: end;}
#mvc>ul>li>div .core_values>li p{margin-bottom: 20px; margin-left: 20px; margin-right: 20px;}
#mvc>ul>li>div .core_values>li:first-child p{text-align: left;}
#mvc>ul>li>div .core_values>li:nth-child(2) p{text-align: center;}
#mvc>ul>li>div .core_values>li:last-child p{text-align: right;}
#mvc>ul>li>div .core_values>li p span{font-weight: 700;}
#mvc>ul>li>div .principles{position: relative; margin: 7% 0;}
#mvc>ul>li>div .principles>ul{width: 50%; margin: 0 auto; display: flex; justify-content: space-evenly; margin-top: 30px;}
#mvc>ul>li>div .principles>ul li{width: 120px; height: 120px; border-radius: 100px; display: flex; flex-direction: column; justify-content: end;}
#mvc>ul>li>div .principles>ul li p{font-size: 1.2em; margin-bottom: 10px;}
/* about_summary */
#aboutSummary{position: relative; width: 100%;}
#aboutSummary .about_summary_wrap{position: relative; width: 90%; height: 900px; margin: 10px auto; display: flex; justify-content: space-between; border-radius: 10rem; background-position: center; background-size: cover;background-image: url('/img/csr_overview.jpg');}
#aboutSummary .about_summary_wrap a{display: flex; flex-direction: column; justify-content: center; width: 33.3%; border-right: 1px solid #efefef;box-sizing: border-box;}
#aboutSummary .about_summary_wrap a:first-child{border-top-left-radius: 10rem; border-bottom-left-radius: 10rem; background-image: url('/img/overview2_1.jpg'); background-position: center; background-size: cover;}
#aboutSummary .about_summary_wrap a:nth-child(2){background-image: url("/img/overview2_2.jpg"); background-position: center; background-size: cover;}
#aboutSummary .about_summary_wrap a:last-child{border: none; border-top-right-radius: 10rem; border-bottom-right-radius: 10rem; background-image: url('/img/overview2_3.jpg'); background-position: center; background-size: cover;}
#aboutSummary .about_summary_wrap a:hover{transition-duration: 0.5s; background-image: none;}
#aboutSummary .about_summary_wrap a>div{display: flex; flex-direction: column; text-align: center;}
#aboutSummary .about_summary_wrap a>div img:first-child{height: 150px; width: 150px; margin: 0 auto; border-radius: 50%;}
#aboutSummary .about_summary_wrap a>div img{height: 50px; width: 150px; margin: 0 auto;}
#aboutSummary .about_summary_wrap a>div div{margin: 50px auto;}

/* BRAND */
/* brandBanner */
#brandBanner{position: relative; width: 100%; overflow: hidden;}
#brandBanner ul{position: relative; height: 300vh; display: flex; flex-direction: column; }
#brandBanner ul li{position:relative; height: 100vh; display: flex; justify-content: center; flex-direction: column;}
#brandBanner ul li .brand_banner{height: 100%; background-image: url('/img/csr_overview.jpg'); background-size: cover; background-position: center;}
#brandBanner ul li .brand_banner img{width: 174px; position: absolute; top: 50%; left: calc(50% - 87px);}
#brandBanner ul li .brand_banner:hover{width: 60%; margin: 11% auto; height: 60%; border-radius: 25rem; transition-duration: 0.5s;}
#brandBanner ul li p{width: 50%; margin: 0 auto; text-align: center; font-size: 3em; font-weight: 500;}
#brandBanner ul li span{font-size: 1.5em;}
/* brand */
#brand{position: relative; width: 100%;}
#brand h2{font-size: 2em; text-align: center;}
#brand div ul{display: flex; justify-content: space-between;}
#brand div:nth-child(2) ul{width: 300px; margin: 0 auto;}
#brand div:nth-child(2) ul li{width: 30%; height: 30px; margin: 20px auto;}
#brand div:nth-child(2) ul li a{width: 100%; text-align: center; border: 1px solid #212121; border-radius: 25px; box-sizing: border-box; line-height: 30px;}
#brand div:nth-child(2) ul li a:hover{color: #efefef; background-color: #212121; transition-duration: 0.5s;}
#brand div:last-child ul{width: 70%; margin: 0 auto; display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 20px;}
#brand div:last-child ul li{width: 32%; margin-bottom: 1.3%;}
#brand div:last-child ul li div{width: 100%;}
#brand div:last-child ul li div img{width: 100%;}
#brand div:last-child ul li div a img{position: relative; width: 70%; padding: 40% 40px; margin-top: -100%;}