/* CJABOUTUS */
/* CJaboutUsList */
#CJaboutUsList{position: relative; height: 500vh; min-height: 3000px;}
#CJaboutUsList>ul{position: relative; display: flex; flex-direction: column;}
#CJaboutUsList>ul>li{position: relative; height: 100vh; min-height: 600px; display: flex; justify-content: center;}
#CJaboutUsList>ul>li>div{position: relative; display: flex; flex-direction: column; justify-content: center; text-align: center;}
#CJaboutUsList>ul>li>div h2{font-size: 2.8em; margin-bottom: 30px;}
#CJaboutUsList>ul>li>div p{font-size: 1.2em;}
#CJaboutUsList>ul>li>.inner_list{width: 50%; position: relative;}
#CJaboutUsList>ul>li>.inner_list>li{height: 100%; display: flex; flex-direction: column; justify-content:end;}
#CJaboutUsList>ul>li>.inner_list>li div{width: 80%; margin: 20% auto;}
#CJaboutUsList>ul>li>.inner_list>li div h2{margin-bottom: 20px;}
#CJaboutUsList>ul>li>.inner_list>li img{width: 100%; height: 100%; object-fit: cover;}
/* mvc */
#mvc{position: relative; height: 300vh; min-height: 2400px;}
#mvc>ul{text-align: center;}
#mvc>ul>li{height: 100vh; min-height: 800px;}
#mvc>ul>li>div{display: flex; flex-direction: column; justify-content: end; height: 50%;}
#mvc>ul>li>div img{width: 60px; height: 60px; margin: 0 auto;}
#mvc>ul>li>div h2{margin-top: 5%; font-size: 1.5em;}
#mvc>ul>li>div p{margin-top: 5%; font-size: 2em;}
#mvc>ul>li:nth-child(3)>div{justify-content: start;}
#mvc>ul>li:nth-child(3)>div img{width: 60px; height: 60px; margin: 0 auto; margin-top: 40px;}
#mvc>ul>li:nth-child(3)>div h2{margin-top: 0; font-size: 1.5em;}
#mvc>ul>li:nth-child(3)>div p{margin-top: 0; font-size: 2em;}
#mvc>ul>li>div .core_values{position: relative; display: flex; justify-content: space-between; width: 70%; margin: 0 auto; min-height: 300px;}
#mvc>ul>li>div .core_values>li{width: 32%; height: 40vh; min-height: 250px; background-position: center; background-repeat: cover; display: flex; flex-direction: column; justify-content: end;}
#mvc>ul>li>div .core_values>li p{margin-bottom: 20px; margin-left: 20px; margin-right: 20px;}
#mvc>ul>li>div .core_values>li:first-child p{text-align: left;}
#mvc>ul>li>div .core_values>li:nth-child(2) p{text-align: center;}
#mvc>ul>li>div .core_values>li:last-child p{text-align: right;}
#mvc>ul>li>div .core_values>li p span{font-weight: 700;}
#mvc>ul>li>div .principles{position: relative; margin: 7% 0;}
#mvc>ul>li>div .principles>ul{width: 50%; margin: 0 auto; display: flex; justify-content: space-evenly; margin-top: 30px;}
#mvc>ul>li>div .principles>ul li{width: 120px; height: 120px; border-radius: 100px; display: flex; flex-direction: column; justify-content: end;}
#mvc>ul>li>div .principles>ul li p{font-size: 1.2em; margin-bottom: 10px;}
/* about_summary */
#aboutSummary{position: relative; width: 100%;}
#aboutSummary .about_summary_wrap{position: relative; width: 90%; height: 900px; margin: 10px auto; display: flex; justify-content: space-between; border-radius: 10rem; background-position: center; background-size: cover;background-image: url('/img/csr_overview.jpg');}
#aboutSummary .about_summary_wrap a{display: flex; flex-direction: column; justify-content: center; width: 33.3%; border-right: 1px solid #efefef;box-sizing: border-box;}
#aboutSummary .about_summary_wrap a:first-child{border-top-left-radius: 10rem; border-bottom-left-radius: 10rem; background-image: url('/img/overview2_1.jpg'); background-position: center; background-size: cover;}
#aboutSummary .about_summary_wrap a:nth-child(2){background-image: url("/img/overview2_2.jpg"); background-position: center; background-size: cover;}
#aboutSummary .about_summary_wrap a:last-child{border: none; border-top-right-radius: 10rem; border-bottom-right-radius: 10rem; background-image: url('/img/overview2_3.jpg'); background-position: center; background-size: cover;}
#aboutSummary .about_summary_wrap a:hover{transition-duration: 0.5s; background-image: none;}
#aboutSummary .about_summary_wrap a>div{display: flex; flex-direction: column; text-align: center;}
#aboutSummary .about_summary_wrap a>div img:first-child{height: 150px; width: 150px; margin: 0 auto; border-radius: 50%;}
#aboutSummary .about_summary_wrap a>div img{height: 50px; width: 150px; margin: 0 auto;}
#aboutSummary .about_summary_wrap a>div div{margin: 50px auto;}

/* BRAND */
/* brandBanner */
#brandBanner{position: relative; width: 100%; overflow: hidden;}
#brandBanner ul{position: relative; height: 300vh; display: flex; flex-direction: column; }
#brandBanner ul li{position:relative; height: 100vh; display: flex; justify-content: center; flex-direction: column;}
#brandBanner ul li .brand_banner{height: 100%; background-image: url('/img/csr_overview.jpg'); background-size: cover; background-position: center;}
#brandBanner ul li .brand_banner img{width: 174px; position: absolute; top: 50%; left: calc(50% - 87px);}
#brandBanner ul li .brand_banner:hover{width: 60%; margin: 11% auto; height: 60%; border-radius: 25rem; transition-duration: 0.5s;}
#brandBanner ul li p{width: 50%; margin: 0 auto; text-align: center; font-size: 3em; font-weight: 500;}
#brandBanner ul li span{font-size: 1.5em;}
/* brand */
#brand{position: relative; width: 100%;}
#brand h2{font-size: 2em; text-align: center;}
#brand div ul{display: flex; justify-content: space-between;}
#brand div:nth-child(2) ul{width: 300px; margin: 0 auto;}
#brand div:nth-child(2) ul li{width: 30%; height: 30px; margin: 20px auto;}
#brand div:nth-child(2) ul li a{width: 100%; text-align: center; border: 1px solid #212121; border-radius: 25px; box-sizing: border-box; line-height: 30px;}
#brand div:nth-child(2) ul li a:hover{color: #efefef; background-color: #212121; transition-duration: 0.5s;}
#brand div:last-child ul{width: 70%; margin: 0 auto; display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 20px;}
#brand div:last-child ul li{width: 32%; margin-bottom: 1.3%;}
#brand div:last-child ul li div{width: 100%; overflow: hidden; border-radius: 25px;}
#brand div:last-child ul li div img{width: 100%;}
#brand div:last-child ul li div a img{position: relative; width: 70%; padding: 40% 40px; margin-top: -100%;}
#brand div:last-child ul li div:hover>img{transform: scale(1.1); transition-duration: 0.5s;}

/* INVESTORS */
/* investors */
#investors{position: relative;}
#investors .investors_bg{position: relative; width: 100%; height: calc(100vh + 80px); background-image: url('/img/investors_overview.jpg'); background-size: cover; background-position: right; background-repeat: no-repeat; align-items: stretch; background-attachment: fixed;}
#investors .investors_bg h2{width: 100%; height: 100%; text-align: center; display: flex; flex-direction: column; justify-content: center; color: #ededed; text-shadow: 1px 1px 1px #212121; font-size: 4em;}
/* investors_item */
#investors_item{position: relative; width: 85%; margin: 0 auto; margin-top: -80px; padding: 30px 0; background-image: url('/img/stock_information.png'); background-position: right; background-size:contain; background-repeat: no-repeat; background-color: #ededed; }
#investors_item .investors_info{position: relative; width: 92%; margin: 0 auto; display: flex; flex-direction: column;display: flex; flex-direction: column; flex-wrap: wrap;}
#investors_item .investors_info h4{font-size: 1.6em; line-height: 40px;}
#investors_item .investors_info>div{width: 92%; display: flex; justify-content: space-between; height: 50%; line-height: 100%; text-align:justify; margin: 30px 0;}
#investors_item .investors_info>div>p{ font-size: 1.6em; line-height: 20px;}
#investors_item .investors_info>div>p:nth-child(2){font-size: 4em;}
#investors_item .investors_info>div>div{display: flex; justify-content: space-evenly; flex-direction: column;}
#investors_item .investors_info>div>div>div{display: flex; margin: 10px 0;}
#investors_item .investors_info>div>div>div img{width: 20px; height: 20px;}
/* presentation */
#presentation{position: relative; width: 85%; margin: 40px auto; border: 1px solid #dedede; box-sizing: border-box; display: flex; justify-content: space-between;}
#presentation .presentation_ext{position: relative; margin: 30px 4%; display: flex; flex-direction: column; justify-content: space-between;}
#presentation .presentation_ext>h5{font-size: 1.3em; font-weight: 500; margin-top: 10px;}
#presentation .presentation_ext div{display: flex; margin: 20px 0;}
#presentation .presentation_ext div:first-child img{width: 40px; height: 40px; margin-left: 5px;}
#presentation .presentation_ext div h4{font-size: 1.6em;}
#presentation .presentation_ext div:last-child{margin-top: 30px;}
#presentation .presentation_ext a p{font-size: 1.1em; line-height: 20px; margin-right: 5px;}
#presentation .presentation_ext a{display: flex; margin-top: 15px;}
#presentation .presentation_ext a:last-child{margin-top: 30px;}
#presentation .presentation_ext a img{width: 40px; height: 40px;}
#presentation .presentation_ext a:last-child img{width: 20px; height: 20px;}
#presentation .presentation_ext a h5{font-size: 1.3em; font-weight: 500;}
/* highlight */
#highlight{position: relative; width: 85%; margin: 0 auto; border: 1px solid #dedede; box-sizing: border-box;}
#highlight .highlight_content{display: flex; flex-direction: column; margin: 30px auto; width: 92%;}
#highlight .highlight_content>div{display: flex; margin: 10px 0;}
#highlight .highlight_content>div h4{font-size: 1.6em; line-height: 40px;}
#highlight .highlight_content>div img{height: 40px; width: 40px;}
#highlight .highlight_content>div>div{display: flex; justify-content: space-between; flex-direction: column;}
#highlight .highlight_content>div:last-child{justify-content: space-between;}
#highlight .highlight_content>div div h5{font-size: 1.2em; font-weight: 500;}
#highlight .highlight_content>div div h5 span{font-size: 0.8em; font-weight: 400;}
#highlight .highlight_content>div div p{font-size: 1.1em; font-weight: 500;}
#highlight .highlight_content>div div p span{font-size: 3.2em; font-weight: 400;}
/* investors_list */
#investors_list{position: relative; width: 85%; margin: 0 auto;}
#investors_list h4{font-size: 1.4em; margin: 0 10%; margin-top: 40px;}

#investors_list>div{margin: 40px 0; display: flex; justify-content: space-between;}
#investors_list>div>.schedule{border: 1px solid #dedede; box-sizing: border-box; width: 32%;}
/* #investors_list>div>div{width: 48.7%;} */
#investors_list>div>.info_list{display: flex; justify-content: space-between; width: 65%; flex-wrap: wrap;}
#investors_list>div>.info_list>div{border: 1px solid #dedede; box-sizing: border-box; width: 48%;}
#investors_list>div>.info_list>.info_3{margin-top: 4%;}
#investors_list ul{font-size: 1.3em; margin: 20px 10%;}
#investors_list ul li{margin-bottom: 15px;}
#investors_list ul li h5{font-weight: 400;}
#investors_list ul li p{font-size: 0.8em; font-weight: 100;}
#investors_list ul li a{display: flex; line-height: 20px;}
#investors_list ul li a img{width: 20px; height: 20px;}
#investors_list .schedule ul li{margin-bottom: 40px; margin-left: 40px;}
.line::after{content: ""; position: absolute; height: 74%; width: 1px; background-color: #dedede; left: 40px;}
.line_o::after{content: ""; position: absolute; height: 21%; width: 1px; background-color: #EF151E; left: 40px;}
.circle::after{content: ""; position: absolute; height: 16px; width: 16px; background-color: #dedede; left: 32px; border-radius: 25px;}
.circle0::after{top: 21%; background-color: #ffffff; border: 3px solid #EF151E; box-sizing: border-box;}
.circle1::after{top: 41%;}
.circle2::after{top: 61%;}
.circle3::after{top: 81%;}

/* SUSTAINABILITY */
/* sustainabilityBanner */
#sustainabilityBanner{position: relative; height: 100vh; background-image: url('/img/csr_overview.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;}
#sustainabilityBanner .sustainability_banner{position: relative; display: flex; flex-direction: column; justify-content: center; height: 100%; text-align: center; color: #ededed;}
#sustainabilityBanner .sustainability_banner h2{font-size: 4em; font-weight: 500; text-shadow: 1px 1px 1px #212121; margin-bottom: 30px;}
#sustainabilityBanner .sustainability_banner p{font-size: 1.2em; font-weight: 100; text-shadow: 1px 1px 1px #212121;}
.h_line::after{content: ""; position: absolute; width: 2px; height: 100px; background-color: #EF151E; left: 50%; top: 95vh; z-index: 1;}
/* .h_line:hover::after{height: 10px; transition-duration: 0.5s; animation-direction: reverse;} */
/* sustainability_logo */
#sustainabilityLogo{position: relative; height: 100vh;}
#sustainabilityLogo div{position: relative; height: 100%; display: flex; justify-content: center; flex-direction: column;}
#sustainabilityLogo div img{width: 400px; margin: 0 auto;}
#sustainabilityLogo div p{text-align: center; font-size: 1.8em; font-weight: 400; line-height: 50px; margin-top: 40px;}
/* sustainability_text */
#sustainabilityText{position: relative; height: 100vh; display: flex; flex-direction: column; justify-content: center;}
#sustainabilityText div{position: relative; height: 30%; width: 100%; background-color: #ededed; font-size: 1.8em; display: flex; flex-direction: column; justify-content: center; text-align: center;}
/* sustainability_list */
#sustainabilityList{position: relative; height: 100vh; background-color: #ededed; overflow: hidden;}
#sustainabilityList div{position: relative; height: 100%; text-align: center; display: flex; flex-direction: column; justify-content: center; font-size: 4em;}
#sustainabilityList .sustainability_list{position: absolute; top: 25%; display: flex; justify-content: space-between; width: 1410px; margin-left: 10%;}
#sustainabilityList .sustainability_list>li{width: 450px; height: 480px; display: flex; flex-direction: column; border-radius: 5rem; overflow: hidden;}
#sustainabilityList .sustainability_list>li:hover>p{margin-top: 20px; transition-duration: 0s;}
#sustainabilityList .sustainability_list>li:first-child:hover{transition-duration: 0.5s; background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("../img/overview2_1.jpg");}
#sustainabilityList .sustainability_list>li:nth-child(2):hover{transition-duration: 0.5s; background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("../img/overview2_2.jpg");}
#sustainabilityList .sustainability_list>li:last-child:hover{transition-duration: 0.5s; background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("../img/overview2_3.jpg");}
#sustainabilityList .sustainability_list>li:first-child{background-image: url('/img/overview2_1.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; margin-top: 50px;}
#sustainabilityList .sustainability_list>li:nth-child(2){background-image: url('/img/overview2_2.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; margin-top: -50px;}
#sustainabilityList .sustainability_list>li:last-child{background-image: url('/img/overview2_3.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; margin-top: 50px;}
#sustainabilityList .sustainability_list>li>p{margin: 20px; text-align: center; height: 250px; color: #ededed; margin-top: 420px;}
#sustainabilityList .sustainability_list>li>ul{margin: 40px; width: 100%; height: 240px; display: flex; flex-direction: column; justify-content: end; flex-wrap: wrap; z-index: 1;}
#sustainabilityList .sustainability_list>li>ul>li{width: 50%;}
#sustainabilityList .sustainability_list>li>ul>li>a{display: flex; width: 100%;}
#sustainabilityList .sustainability_list>li>ul>li>a>p{line-height: 40px; font-size: 1.1em; color: #ededed; margin-top: 15px;}
#sustainabilityList .sustainability_list>li>ul>li>a>img{width: 40px; height: 40px;}
/* search */
#search{position: relative; width: 100%;}
#search>div{position: relative; width: 100%; margin: 150px 0; background-color: #ededed; padding: 40px 0;}
#search>div>div{border: 1px solid #212121; box-sizing: border-box; width: 80%; margin: 0 auto; background-color: #ffffff; display: flex; justify-content: space-between; padding: 40px;}
#search>div>div p{font-size: 1.2em;}
#search>div>div p span{margin-right: 41px;}
#search>div>div p span::after{content: ""; position: absolute; left: calc(10% + 120px); width: 2px; height: 30px; background-color: #EF151E;}
#search>div>div a{display: flex; border: 1px solid #212121; padding: 5px 10px;}
#search>div>div a p{font-size: 1em; line-height: 30px; font-weight: 500;}
#search>div>div a img{width: 30px; height: 30px; margin-left: 20px;}
/* newsroom */
#newsroom{position: relative; width: 100%;}
#newsroom h2{text-align: center; font-size: 2.5em;}
#newsroom>ul{width: 40%; margin: 30px auto; display: flex; justify-content: space-evenly; font-size: 1.2em;}
#newsroom>ul>li>a:hover p{color: #EF151E; transition-duration: 0.5s; font-weight: 500;}
#newsroom .new_list{position: relative; width: 80%; margin: 0 auto; overflow: hidden; margin-bottom: 60px;}
#newsroom .new_list ul{width: 200%; display: flex; justify-content: space-evenly;}
#newsroom .new_list ul li{width: 9%; background-image: url('/img/img14_aboutus_01.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;}
#newsroom .new_list ul li .news_bg{width: 100%; height: 60%;}
#newsroom .new_list ul li:hover .news_bg{height: 100%; background-image: linear-gradient(#ffffff, #FF9700); opacity: 0.5; transition-duration: 0.5s;}
#newsroom .new_list ul li:hover .news_text{opacity: 1; transition-duration: 0.5s;}
#newsroom .new_list ul li .news_text{height: 100%; display: flex; flex-direction: column; justify-content: end; opacity: 0;}
#newsroom .new_list ul li .news_text p:nth-child(2){overflow: hidden;
  text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
#newsroom .new_list ul li .news_text a{display: flex; justify-content: end;}
#newsroom .new_list ul li>div:last-child{background-color: #ffffff; padding: 5px;}
#newsroom .new_list ul li>div p:first-child{font-size: 0.85em; font-weight: 500; margin-bottom: 10px;}
#newsroom .new_list ul li>.news_text p:first-child span{margin-left: 20px;}

/* PC */
@media screen and (min-width:1201px){}

/* 태블릿 */
@media screen and (min-width:801px) and (max-width:1200px){}

/* 스마트폰 */
@media screen and (max-width:800px){}